.task-actions-container{
    display: flex;
    float: right;
    align-items: center;
}

.action{
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.3em;
}

.delete-action{
    color: red;
    transition: 0.3s;
}

.delete-action:hover{
    color: darkred;
}

.goto-action{
    color: #00acc1;
    transition: 0.3s;
}

.goto-action:hover{
    color: blue;
}

.update-action{
    color: #4caf50;
    transition: 0.3s;
    font-size: 2em;
}

.update-action:hover{
    color: darkgreen;
}

@media screen and (prefers-color-scheme: dark) {
    .update-action:hover{
        color: limegreen;
    }

    .delete-action:hover{
        color: #ff4500
    }

    .goto-action:hover{
        color: lightblue;
    }
}